html,body{
  margin: 27px;
    background: ;
}
#contact{
  font-size: 65px;
  font-style: italic;
  font-family: serif;
  background: #004D40;
  margin-top: 60px;
}
#top{
  background: #1A237E;
  color: #FFFFFF;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2979FF;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
footer{
  color: #FFFFFF;
  background: #000000;
}

.dataclasses {
  display: flex;
  flex-wrap: wrap;
}
.dataclasses > * {
  margin:5px;
}